header {
  background-color: #026aa7;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  color: #fff;
  margin-bottom: 24px;

  .logo {
    font-size: 2rem;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    position: fixed;
    left: calc(50% - 20px);
  }

  .logout {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    cursor: pointer;
  }
}
